.input-section{
    display: flex;
    flex-direction: column;
    gap:30px
}

.reg-section{
    width: 450px;
    margin:auto;
}

.input-section input{
    height: 40px;
}

.signup-section{
    width: 450px;
    border:2px solid rgb(55, 48, 48);
    margin:auto;
    text-align: center;
}